/*--------------------------------------------------\
|               |               | default.css       |
|---------------------------------------------------|
| For use with:                                     |
| Web-ERP - http://web-erp.sourceforge.net          |
| by Logic Works Ltd                                |
|---------------------------------------------------|
| Developer:                                        |
| Shane Barnaby                                     |
| Steve Kaill                                       |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected throughout Web-ERP.                     |
|
\--------------------------------------------------*/
.EvenTableRows {
	background-color: #CCCCCC;
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding-right: 4px;
}

.OddTableRows {
	background-color: #EEEEEE;
	font-family: Arial;
	font-size: 11px;
}

body,td,th {
	font-family: Arial;
	font-size: 10px;
	color: #000000;
}
body {
	margin-left: 0px;
	background-color:#FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	color: #0A6EC3;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #0A6EC3;
}
a:hover {
	text-decoration: underline;
	color: #0A6EC3;
}
a:active {
	text-decoration: none;
}

.topcompanyname {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color:#0000FF;
	text-decoration: none;
	padding: 5px;
}
.spacer5 {
	padding: 5px;
}
.toploggedin {

	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #0000ff;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: left top;
}
.menusep {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D0D0BF;
}
.txtorange {
	color: #3300cc;
	font-weight: bold;
}
.size11 {font-size: 11px}
.footer {
	font-family: Arial;
	font-size: 10px;
	color: #0A6EC3;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0A6EC3;
	border-right-color: #0A6EC3;
	border-bottom-color: #0A6EC3;
	border-left-color: #0A6EC3;
}
.forms {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-color: #F2FAFF;
	border: 1px solid #44618F;
}
.formsoutline {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-color:#CCCCCC;
	border: 1px solid #44618F;
}
.formsBlue {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #0A6EC3;
	border: 1px solid #44618F;
	padding: 2px;
}

.myfont {
	font-family: Arial;
	font-size: 8px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	
}
.errmkr {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #D0DCEE;
}
.topdate {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding: 2px;
}
.menuhdr {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 7px 2px 7px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	color: #333333;
}
.iconspace {
	padding: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F8F8F8;
	font-family: Arial;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}
.name {color: #006699}
.orange {color: #FF6600}
.black {color: #000000}
.blue {color: #0066FF}
.grey {color: #999999}
.grey2 {color: #CCCCCC}
.white {color: #FFFFFF}
.greylight {color: #B9AE6F}
.err {
	color: #FF0000;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.tblhdr {

	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	background-color: #81A3DB;
	padding: 7px 2px 7px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	color: #FFFFFF;
}.iconnospace {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F8F8F8;
	font-family: Arial;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}
.tmenudefault {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
	background-color: #F5F3EB;
	text-align: center;
	padding: 2px 2px 5px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #0A6EC3;
	border-left: 1px solid #CCCCCC;
}
.tmenuselected {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #0A6EC3;
	text-decoration: none;
	background-color: #FBFDFF;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #0A6EC3;
	border-right-color: #0A6EC3;
	border-left-color: #0A6EC3;
	padding: 2px;
}
.headers {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #EBEBE6;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #CCCCCC;
}
.data {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.formsgreen {

	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #006600;
	border: 1px solid #006600;
	padding: 2px;	
}
.formsorg {

	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #FF9900;
	border: 1px solid #FF9900;
	padding: 2px;	
}
.formsorgnew{

	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color:#000000;
	text-decoration: none;
	background-color: #FF9900;
	border: 1px solid #FF9900;
	padding: 2px;	
}

.baseline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #ECE9D8;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
	border-left-color: #ECE9D8;
	padding: 3px 10px 6px 3px;
}
.formsred {

	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #FF0000;
	border: 1px solid #FF0000;
	padding: 2px;
}
fieldset {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
	border: 1px solid #CCCCCC;
}
.htwo {


	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #0347B7;
	text-decoration: none;
	padding: 1px;
}
.tdday {
	font-family: Arial;
	background-color: #ECECFF;
	font-weight: bold;
	font-size: 11px;
	width: 26px;
	line-height: 20px;
	color: #333333;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}
.tdtoday { font-family: Arial;
                  background-color: lightgreen;
                  font-weight: bold;
                  font-size: 11px;
                  line-height: 16px;
                  width: 26px;
                  color: #000000;
                  vertical-align: middle;
                  text-align: center;
}

.tdheading { font-family: Arial;
                  background-color: #a0a0a0;
                  font-weight: bold;
                  font-size: 11px;
                  line-height: 20px;
                  color: #ffffff;
                  vertical-align: middle;
                  text-align: center;
}
.tddate { font-family: Arial;
                  background-color: #f0f0f0;
                  font-weight: normal;
                  font-size: 11px;
                  line-height: 16px;
                  width: 26px;
                  color: #000000;
                  vertical-align: middle;
                  text-align: center;
 }
.caltable { border: #a0a0a0;
                   border-style: solid;
                   border-top-width: 1px;
                   border-right-width: 1px;
                   border-bottom-width: 1px;
                   border-left-width: 1px;
                   margin-bottom: 0px;
                   margin-top: 0px;
                   margin-right: 0px;
                   margin-left: 0px;
                   padding-top: 0px;
                   padding-right: 0px;
                   padding-bottom: 0px;
                   padding-left: 0px
}
.tddateevt {
font-family: Arial;
                  background-color: #E8F9EC;
                  font-weight: bold;
                  font-size: 11px;
                  line-height: 16px;
                  width: 26px;
                  color: #000000;
                  vertical-align: middle;
                  text-align: center;
}
.para {

	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
}
.iconspacetop {
	padding: 4px;
	font-family: Arial;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #F8F8F8;
}
.datanolines {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.sidelinepic {
	text-align: center;
	border: 1px solid #EAEAEA;
}
.gannt {
	border-top-width: 10px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #6F7C97;
	border-right-color: #6F7C97;
	border-left-color: #6F7C97;
}
.psmall {
	font-family: Arial;
	font-size: 9px;
	text-decoration: none;
	padding-top: 2px;
}
.tdtodayevt {
font-family: Arial;
                  background-color: lightgreen;
                  font-weight: bold;
                  font-size: 11px;
                  line-height: 16px;
                  width: 26px;
                  color: #000000;
                  vertical-align: middle;
                  text-align: center;
}
.dataOne {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.tmenuextra {
	font-family: "Arial Black";
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #0A6EC3;
	text-decoration: none;
	background-color: #FFFFFF;
	text-align: center;
	padding: 2px 2px 5px 7px;
	border-bottom: 1px solid #0A6EC3;
}
.intspace {
	padding: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #0A6EC3;
	border-bottom-color: #0A6EC3;
	border-left-color: #0A6EC3;
}
.hOne {
	font-family: "Arial Black";
	font-size: 13px;
	font-style: normal;
	color: #FF9E28;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ECE9D8;
	font-weight: normal;
}
.mngrey {
	color: #B5A691;
	text-decoration: none;
}
.tblbdr {
	border: 1px solid #D0D0BF;
}
.leftmenus {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ECE9D8;
	padding: 4px;
}
.baselinens {

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #ECE9D8;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
	border-left-color: #ECE9D8;
	padding: 2px;
}

.inputdefhead {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color:#CC9999;
	padding-right: 4px;

	padding-left: 6px;
	border-top: 2px solid #ECE9D8;
	border-right: 1px solid #CCC6AA;
	border-bottom: 2px solid #B7B393;
	border-left: 1px solid #FAF9F5;
	text-align: left;
}


.inptdf {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #333399;
	text-decoration: none;
	background-color: #FF0000;
	padding-right: 4px;

	padding-left: 6px;
	border-top: 2px solid #ECE9D8;
	border-right: 1px solid #CCC6AA;
	border-bottom: 2px solid #B7B393;
	border-left: 1px solid #FAF9F5;
	text-align: left;
}


.inputhover {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-right: 4px;
	padding-left: 6px;
	border-top: 2px solid #FFFFFF;
	border-right: 1px solid #EAEAEA;
	border-bottom: 2px solid #FF9900;
	border-left: 1px solid #EAEAEA;
	text-align: left;
}
.gridCells {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #FCFCF8;
	padding: 4px;
	background-color: #FFFFFF;
}
.gridCells2 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #F1F1E0;
	padding: 4px;
}
.bdrlight {
	border: 1px solid #CCCCCC;
}
.tbldbdr {
	border-top: 1px solid #ACC4FB;
	border-right: 3px solid #ECE9D8;
	border-bottom: 3px solid #ECE9D8;
	border-left: 3px solid #ECE9D8;
}
.mainbase {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 6px;
	border-bottom: 3px solid #ECE9D8;
	text-align: left;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ECE9D8;
}

.footerindex {
	font-family: Arial;
	font-size: 10px;
	color: #FFFFFF;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0A6EC3;
	border-right-color: #0A6EC3;
	border-bottom-color: #0A6EC3;
	border-left-color: #0A6EC3;
	background-color: #0A6EC3;
}

.admred {
	color: #FF0000;
	text-decoration: none;
}
.suc {

	color: #009900;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}


/*links before selection */
a {
	font-family: Arial,Verdana,Helvetica;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}

/*links on any screen when mouse is hovering over them */
a:hover {
	color: #00000a;
	text-decoration: underline;
}

table {
  background-color: #FFFFFF;
}

/*table detail items default format */
td {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}

.EvenTableRows {
	background-color: #CCCCCC;
}

.OddTableRows {
	background-color: #EEEEEE;
}

th {
	font-weight: normal;
	font-size: 12px;
	background-color: #777C59;
	color: white;
}

div.error {
	background-color:#fddbdb;
	color: red;
	border: 1px solid red;
}

div.warn {
	background-color:#f5dbfd;
	color: maroon;
	border: 1px solid maroon;
}

div.success {
	background-color:#b9ecb4;
	color: darkgreen;
	border: 1px solid darkgreen;
}

div.info {
	background-color:#c7ccf6;
	color: nany;
	border: 1px solid navy;
}

.EvenTableRows {
	background-color: #CCCCCC;
}

.OddTableRows {
	background-color: #EEEEEE;
}

th {
	font-weight: normal;
	background-color: #cccce5;
	font-size: 12px;
	color: #330000;
}

input {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}

select {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}


#topMenu {
	width: 100%;
	color: black;
	background-color: #ffffff;
	border: none;
	border-bottom: 1px solid #999999;
}

#trim {
	background: "#ffffff";
}

#page {
	width: 100%;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	border: none;
}

#menuImg {
	vertical-align: top;
	text-align: center;
	margin: 0px;
	padding: 10px;
}

#mainMenu {
	width: 100%;
	color: black;
	background-color: #ffffff;
	border: none;
	margin: 0px;
	padding: 0px;
}

.header {
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: none;
	margin: 0px;
	padding: 0px;
}

.login {
	background-color: #ffffff;
	border: none;
}

.callout_main {
	font-family: Verdana, Arial, Helvetica;
	background-color: #ffffff;
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.main_page {
	background-color: #ffffff;
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
 	font-size: 10px;
}

/* Main page heading with quick menu within */
.quick_menu {
	width: 100%;
	background-color: #ffffff;
	border: none;
	margin: 0px;
	padding: 0px;
 	color: black;
	/*border-top: 2px #aaaaaa solid;
	border-left: 2px #aaaaaa solid;
	border-right: 2px #ffffff solid;
	border-bottom: 4px #ffffff solid; */
	text-align: right;
	/* position: relative;
	top: 3px; */
}

/*The main page heading left part before quick menu */
.quick_menu_left {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	border: 0px;
	white-space: nowrap;
	margin: 2px;
	padding: 0px;
	color: black;
}

/*the Select Customer / Item / Supplier Menu tabs */
.quick_menu_tabs {
	background-color: #ffffff;
	white-space: nowrap;
	border: none;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

.quick_menu_tab{
	background: #B4BB86;
	height:28pt;
	white-space: nowrap;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
}

/*the Select Customer / Item / Supplier Menu tabs */
.system_menu_tabs {
	background-color: #ffffff;
	white-space: nowrap;
	border: none;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	text-align: center;
}

.system_menu_tabs a {
	font-size: 12px;
   	color: black;
}

.system_menu_tabs a:hover {
	font-size: 10px;
	color: black;
}

.main_area {
	border: 2px inset #ffffff;
	width: 100%;
  	background-color: #ffffff;
}

.main_menu {
	border: 2px inset #ffffff;
}

.main_menu table {
	border: 0px;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

.main_menu_unselected {
	background-color:#FFFFCC;
	border: 2px #f1ffdd outset;
	text-align: center;
	white-space: nowrap;
}

.main_menu_selected {
	background-color:#FFFFFF;
	border: 2px inset #41437D;
	text-align: center;
	white-space: nowrap;
}




.tab_unselected {
	background-color:#FFFFFF;
	border: 2px #f1ffdd outset;
	text-align: center;
	white-space: nowrap;
}

.tab_selected {
	background-color:#666666;
	border: 2px inset #41437D;
	text-align: center;
	white-space: nowrap;
}


span.main_menu_nolink {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	text-decoration: none;
	white-space: nowrap;
}

.main_menu a {
	font-weight: normal;
	color: white
}

.main_menu a:hover {
	color: #0000aa;
	text-decoration: underline;
}

.menu_group_img {
	background-color: #cccccc;
	text-align: center;
	width: 90px;
	position: relative;
	left: 3px;
}

.menu_group_img img{
	position: relative;
	top: 10px;
}

.menu_group_area {
  border: 2px inset #ffffff;
}

.blank_area table {
	border: 0px;
	width: 100%;
}

.menu_group_headers {
  border: 2px outset #aaaaaa;
  width: 25%;
}

.menu_group_headers_text {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.menu_group_items {
	vertical-align: top;
	background-color: #ffffff;
	border: 2px outset #aaaaaa;
	padding: 10px;
}

.menu_group_item {
	background-color: #ffffff;
	padding-top: 2px;
	padding-bottom: 2px;
}

span.menu_group_nolink {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #777777;
	text-decoration: none;
}

.menu_group_item a {
}

.menu_group_items a:hover {
	color: #0000aa;
	text-decoration: underline;
}

#footer {
	position: relative;
	bottom: -3px;
}
a.footer {
	font-family: Verdana, Arial, Helvetica;
	color: black;
	font-weight: normal;
	font-size: 8px;
}
/*.footer {
	font-family: Verdana, Arial, Helvetica;
	color: black;
	font-weight: normal;
	font-size: 8px;
}*/
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}

.box1 {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
  border-style: ridge;
}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	color: white;
  	background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC99;
  color: #006666;
	font-weight: bolder;
	font-size: medium;
}


input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

input.inputerror {
	background-color: #fddbdb;
}

textarea.texterror {
	background-color: #fddbdb;
}

select.selecterror {
	background-color: #fddbdb;
}

.tableheader {
	font-weight: normal;
	background-color: #777C59;
	color: white;
}

.notavailable {
	font-weight:light;
	font-style:italic;
	color:#555555;
}

.label {
	font-weight:bold;
	font-style:normal;
	font-size:12px;
	color:black;
	background-color:#cccccc;
}


.OsRow {
	background-color: #234567;
	color: white;
}
.table_index {
	background-color: #F1FFDD;
}

li {
	list-style-image: url(bullet.gif);
}

body,td,th {
	font-family: Arial;
	font-size: 10px;
	color: #000000;
}
body {
	
	background-color:#FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.main_menu_unselected {
	background-color:#FFFF99;
	border-left: 1px #AAAAAA solid;
	border-right: 1px #AAAAAA solid;
	border-bottom: 0px;
	font-weight: normal;
	position: relative;
	top: 3px;
	text-align: center;
	white-space: nowrap;

}

.main_menu_selected {
	background-color:#FFCC99;
	border-top: 1px #AAAAAA solid;
	border-left: 1px #AAAAAA solid;
	border-right: 1px #AAAAAA solid;
	border-bottom: 0px;
	font-weight: normal;
	position: relative;
	top: 3px;
	text-align: center;
	white-space: nowrap;
}

a:link {
	color: #0A6EC3;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #0A6EC3;
}
a:hover {
	text-decoration: underline;
	color: #0A6EC3;
}
a:active {
	text-decoration: none;
}
.calendar {
	color: #000000;
}
.calendar a:link {
	color: #000000;
	text-decoration: none;
}
.calendar a:visited {
	text-decoration: none;
	color: #000000;
}
.calendar a:hover {
	text-decoration: underline;
	color: #000000;
}
.calendar a:active {
	text-decoration: none;
}
.searchborder{
	border-bottom: 1px solid #CCCCCC;
}
.topbkg {
	background-image: url(../images/template_03_manda.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.topcompanyname {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
.spacer5 {
	padding: 5px;
}
.toploggedin {

	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #0A6EC3;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	background-image: url(../images/template_05_manda.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.toploggedin {

	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #0A6EC3;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	background-image: url(../images/template_05_manda.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.toploggedin3 {

	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #0A6EC3;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	background-image: url(../images/index_05_manda.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.menusep {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D0D0BF;
}
.txtorange {
	color: #FFCC00;
	font-weight: bold;
}
.size11 {font-size: 11px}
.footer {
	font-family: Arial;
	font-size: 10px;
	color: #0A6EC3;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0A6EC3;
	border-right-color: #0A6EC3;
	border-bottom-color: #0A6EC3;
	border-left-color: #0A6EC3;
}
.forms {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-color: #F2FAFF;
	border: 1px solid #44618F;
}
.formsBlue {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #0A6EC3;
	border: 1px solid #44618F;
	padding: 2px;
}
.errmkr {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #D0DCEE;
}
.topdate {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding: 2px;
}
.menuhdr {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	background-color:#FEfDF3;
	padding: 7px 2px 7px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	color: #333333;
}
.iconspace {
	padding: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F8F8F8;
	font-family: Arial;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}
.name {color: #006699}
.orange {color: #FF6600}
.black {color: #000000}
.blue {color: #0066FF}
.grey {color: #999999}
.grey2 {color: #CCCCCC}
.white {color: #FFFFFF}
.greylight {color: #B9AE6F}
.err {
	color: #FF0000;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.tblhdr {

	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	background-color: #81A3DB;
	padding: 7px 2px 7px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	color: #FFFFFF;
}.iconnospace {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F8F8F8;
	font-family: Arial;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}
.tmenudefault {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
	background-color: #F5F3EB;
	text-align: center;
	padding: 2px 2px 5px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #0A6EC3;
	border-left: 1px solid #CCCCCC;
}
.tmenuselected {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #0A6EC3;
	text-decoration: none;
	background-color: #FBFDFF;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #0A6EC3;
	border-right-color: #0A6EC3;
	border-left-color: #0A6EC3;
	padding: 2px;
}
.tmenuunselected {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #0A6EC3;
	text-decoration: none;
	background-color: #FBFDFF;
	text-align: center;	
	border: 1px solid #0A6EC3;
	padding: 2px;
}
.headers {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #EBEBE6;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #CCCCCC;
}
.data {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.formsgreen {

	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #006600;
	border: 1px solid #006600;
	padding: 2px;	
}
.formsorg {

	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #FF9900;
	border: 1px solid #FF9900;
	padding: 2px;	
}
.baseline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #ECE9D8;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
	border-left-color: #ECE9D8;
	padding: 3px 10px 6px 3px;
}
.formsred {

	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #FF0000;
	border: 1px solid #FF0000;
	padding: 2px;
}
fieldset {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
	border: 1px solid #CCCCCC;
}
.fontsizereport {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
}

.htwo {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #0347B7;
	text-decoration: none;
	padding: 1px;
}
.tdday {
	font-family:  Arial;
	background-color: #ECECFF;
	font-weight: bold;
	font-size: 11px;
	width: 26px;
	line-height: 20px;
	color: #333333;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}
.tdtoday { font-family: Arial;
                  background-color: lightgreen;
                  font-weight: bold;
                  font-size: 11px;
                  line-height: 16px;
                  width: 26px;
                  color: #000000;
                  vertical-align: middle;
                  text-align: center;
}

.tdheading { font-family: Arial;
                  background-color: #a0a0a0;
                  font-weight: bold;
                  font-size: 11px;
                  line-height: 20px;
                  color: #ffffff;
                  vertical-align: middle;
                  text-align: center;
}
.tddate { font-family: Arial;
                  background-color: #f0f0f0;
                  font-weight: normal;
                  font-size: 11px;
                  line-height: 16px;
                  width: 26px;
                  color: #000000;
                  vertical-align: middle;
                  text-align: center;
 }
.caltable { border: #a0a0a0;
                   border-style: solid;
                   border-top-width: 1px;
                   border-right-width: 1px;
                   border-bottom-width: 1px;
                   border-left-width: 1px;
                   margin-bottom: 0px;
                   margin-top: 0px;
                   margin-right: 0px;
                   margin-left: 0px;
                   padding-top: 0px;
                   padding-right: 0px;
                   padding-bottom: 0px;
                   padding-left: 0px
}
.tddateevt {
font-family: Arial;
                  background-color: #E8F9EC;
                  font-weight: bold;
                  font-size: 11px;
                  line-height: 16px;
                  width: 26px;
                  color: #000000;
                  vertical-align: middle;
                  text-align: center;
}
.para {

	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
}
.iconspacetop {
	padding: 4px;
	font-family: Arial;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #F8F8F8;
}
.datanolines {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.sidelinepic {
	text-align: center;
	border: 1px solid #EAEAEA;
}
.gannt {
	border-top-width: 10px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #6F7C97;
	border-right-color: #6F7C97;
	border-left-color: #6F7C97;
}
.psmall {
	font-family: Arial;
	font-size: 9px;
	text-decoration: none;
	padding-top: 2px;
}
.tdtodayevt {
font-family: Arial;
                  background-color: lightgreen;
                  font-weight: bold;
                  font-size: 11px;
                  line-height: 16px;
                  width: 26px;
                  color: #000000;
                  vertical-align: middle;
                  text-align: center;
}
.dataOne {
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.tmenuextra {
	font-family: "Arial Black";
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #0A6EC3;
	text-decoration: none;
	background-color: #FFFFFF;
	text-align: center;
	padding: 2px 2px 5px 7px;
	border-bottom: 1px solid #0A6EC3;
}
.intspace {
	padding: 5px;
	border-right-width: 1px;
	border-top-width: 	1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #0A6EC3;	
	border-top-color: #0A6EC3;
	border-bottom-color: #0A6EC3;
	border-left-color: #0A6EC3;
}
.hOne {
	font-family: "Arial Black";
	font-size: 13px;
	font-style: normal;
	color: #FF9E28;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ECE9D8;
	font-weight: normal;
}
.mngrey {
	color: #B5A691;
	text-decoration: none;
}
.tblbdr {
	border: 1px solid #D0D0BF;
}
.leftmenus {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ECE9D8;
	padding: 4px;
}
.baselinens {

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #ECE9D8;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
	border-left-color: #ECE9D8;
	padding: 2px;
}
/*.inputdef {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color:#FFFFFF;
	text-decoration: none;
	background-color:#006666;
	padding-right: 4px;
	padding-left: 6px;
	border-top: 2px solid #ECE9D8;
	border-right: 1px solid #CCC6AA;
	border-bottom: 2px solid #B7B393;
	border-left: 1px solid #FAF9F5;
	text-align: left;
}*/
.inputdef {
	font-family: Arial;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #ECE9D8;
	padding-right: 4px;

	padding-left: 6px;
	border-top: 2px solid #ECE9D8;
	border-right: 1px solid #CCC6AA;
	border-bottom: 2px solid #B7B393;
	border-left: 1px solid #FAF9F5;
	text-align: left;
}

.inputdsmall {
	font-family: Arial;
	font-size: 6px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #ECE9D8;
	padding-right: 2px;

	padding-left: 6px;
	border-top: 2px solid #ECE9D8;
	border-right: 1px solid #CCC6AA;
	border-bottom: 2px solid #B7B393;
	border-left: 1px solid #FAF9F5;
	text-align: left;
}
.inputdeft {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color:#996633 ;
	text-decoration: none;
	background-color:#ECE9D8;
	padding-right: 4px;
	padding-left: 6px;
	border-top: 2px solid #ECE9D8;
	border-right: 1px solid #CCC6AA;
	border-bottom: 2px solid #B7B393;
	border-left: 1px solid #FAF9F5;
	text-align: left;
}
.inputhover {
	font-family: Arial;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-right: 4px;
	padding-left: 6px;
	border-top: 2px solid #FFFFFF;
	border-right: 1px solid #EAEAEA;
	border-bottom: 2px solid #FF9900;
	border-left: 1px solid #EAEAEA;
	text-align: left;
}
.gridCells {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #FCFCF8;
	padding: 4px;
	background-color: #FFFFFF;
}
.gridCells2 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #F1F1E0;
	padding: 4px;
}
.bdrlight {
	border: 1px solid #CCCCCC;
}
.tbldbdr {
	border-top: 1px solid #ACC4FB;
	border-right: 3px solid #ECE9D8;
	border-bottom: 3px solid #ECE9D8;
	border-left: 3px solid #ECE9D8;
}
.mainbase {
	font-family: Arial;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 6px;
	border-bottom: 3px solid #ECE9D8;
	text-align: left;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ECE9D8;
}

.footerindex {
	font-family: Arial;
	font-size: 10px;
	color: #FFFFFF;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0A6EC3;
	border-right-color: #0A6EC3;
	border-bottom-color: #0A6EC3;
	border-left-color: #0A6EC3;
	background-color: #0A6EC3;
}

.admred {
	color: #FF0000;
	text-decoration: none;
}
.suc {
	color: #009900;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.memberdetails {
	background-color: #FFFFFF;
	border-left: 1px solid #0A6EC3;
	border-right: 1px solid #0A6EC3;
	border-bottom: 1px solid #0A6EC3;
}
.memberdetails th{
	background-color: #F4F4F4;
	color: #000000;
	padding-left:5px;
}
.formsbluefaded {
	background-color: #3399CC;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #3399CC;
	padding: 2px;	
}

.memberdetails td{
	padding-left:5px;
}
h5 {
	colour: #0A6EC3;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	padding: 0px;
}

.style6 {
	font-size: 10px;
	font-family: Arial;
	font-weight: bold;
}

.style7 {
	font-size: 10px;
	font-family: Arial;
	
}


.topcompanynamewhite {
	background-color: #4189DD;
}

